/* DO NOT CHANGE */

#container {
	width : 100%;
	height : 100%;
	overflow : hidden;
	position : fixed;
	top : 0px;
	left : 0px;
}

/* ------------- */

body {
	margin : 0;
	font-size : 16pt;
	color : #555;
}

.hud {
	position : absolute;
	top : 4px;
	left : 4px;
}

a {
	color : #6A8F5F;
}

a:visited {
	color : #6A8F5F;
}

a:hover {
	color : #333;
}

.element {
	margin : 4px;
	padding : 4px 8px;

	float : left;

	background-color : #EEE;
	border : 1px solid #555;
}

.button {
	cursor : pointer;
	background-color : #FFF !important;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.label {
	margin : 4px 2px;
	padding : 4px;

	clear : both;
}

.highlight {
	color : #6A8F5F;
}

.button:hover {
	background-color : #BACF9F !important;
}

.active {
	background-color : #CADFB6 !important;
}

.clear {
	clear : both;
}

.left {
	float : left;
}

#menu, #settings, #instructions, #about, #stats {
	display: none;
	padding : 4px;
}

#winner, #loser, #newButton, #menuButton, #restartButton, #error {
	display: none;
}

#winner {
	background-color : #CADFB6;
}

#loser {
	background-color : #ED9F9C;
}

#apply {
	float : none;
	clear : both;

	width : 46px;
	margin : 4px auto;
}

table {
	border-spacing : 0;
	margin : 4px;
}

td {
	padding : 4px 8px;

	text-align : center;
	font-weight : normal;

/*	border-left : 1px solid #777;
	border-top : 1px solid #777;*/
}

tr:first-child td {
	border-bottom : 1px solid #555;
}

td:first-child {
	border-right : 1px solid #555;
}

.heading {
	font-size: 18pt;
}

#clearPrompt {
	display: none;
}

#timeDisplay {
	position : absolute;
	bottom : 4px;
	left : 4px;
}

#mineDisplay {
	position : absolute;
	bottom : 4px;
	right : 4px;
}

#welcomeWrapper {
	display : none;
	position : absolute;

	top : 0px;
	left : 0px;

	width : 100%;
	height : 100%;
}

#welcomeOverlay {
	position : absolute;

	width : 100%;
	height : 100%;

	background-color : #FFF;
	opacity : 0.5;
}

#welcome {
	position : relative;
	float : none;

	width : 720px;
	margin : 13% auto 0;
}

#intro {
	width : 408px;
	border-right : 1px solid #555;
	margin : 24px 0;
	padding : 0 8px;
}

#info {
	width : 280px;
	font-size : 14pt;
	padding-left : 8px;
	margin-top : 32px;
}

#info .heading {
	font-size : 16pt;
}

#playClassicButton {
	float : none;
	padding : 18px 24px;
	font-size : 18pt;
	width : 127px;
	margin : 10px auto;
}

#playSweepButton {
	float : none;
	padding : 10px 16px;
	width : 107px;
	margin : 10px auto;
}

.title {
	color : #6A8F5F;
	font-size : 24pt;
	padding : 0;
	text-align : center;
}

.subtitle {
	font-size : 14pt;
	text-align : center;
}