/* DO NOT CHANGE */


#container {
	width : 100%;
	height : 100%;
	overflow : hidden;
	position : fixed;
	top : 0px;
	left : 0px;

	z-index: -1;
}

h1{
	font-size:60px;
	letter-spacing:0.07em;
	position:absolute;
	top:-20px;
	left:65px;
	width:300px;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
	font-style:normal;
}
h2{font-size:45px;letter-spacing:0.07em;}
h2,h3{text-align:center;}
h3{letter-spacing:0.6em;margin-top:-20px;border-top:solid 1px;border-bottom:solid 1px;width:200px;margin-left:auto;margin-right:auto;padding:4px 0 4px 0;}
	

.border{
	border:1px solid #fff;
	background-color:none;
}

.border:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all .2s 0s ease-in-out;
	-moz-transition: all .2s 0s ease-in-out;
	transition: all .2s 0s ease-in-out;
}

<!-- Menu BLOB -->
            
            .blobs {position: relative;cursor:pointer;}
            .blobs div {position: absolute;}
            .blobs span {display: block; position: absolute;}
            .cube-blob {width: 133px;height: 153px;left:0;top:0px;}
			
			#newButton .cube-blob {width:100px; height:114px;}
            
			.blobs div:hover .cube-blob {-webkit-animation: blob .3s ease-in-out;-moz-animation:blob-moz .3s ease-in-out; /* Firefox */ cursor:pointer;}
        
            @-webkit-keyframes blob {
                0% {-webkit-transform: scale(1);}
                50% {-webkit-transform: scale(1.09);}                
                100% {-webkit-transform: scale(1);}                           
            }
			
			@-moz-keyframes blob-moz { /* Firefox */
				0% {-moz-transform: scale(1);}
                50% {-moz-transform: scale(1.09);}                
                100% {-moz-transform: scale(1);} 
			}
			
            .pb-1 {width: 133px;height:153px;left:0px;}
                .pb-1 .cube-blob {background-image:url(../images/quadmenu.png);display:block;}
				
			#newButton .pb-1 .cube-blob{background-image:url(../images/quadnew.png);}             
 
				
<!-- --------------------------------------- -->

.onequad2{
	position:absolute;
	top:750px;
	left:340px;
	-webkit-animation: toggle 46s ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

.onequad4{
	position:absolute;
	top:750px;
	left:150px;
	-webkit-animation: raise 56s ease-in-out infinite;
	-moz-animation:raise 56s ease-in-out infinite; /* Firefox */
}

.onequad5{
	position:absolute;
	top:750px;
	left:50px;
	-webkit-animation: raise2 49s ease-in-out infinite;
	-moz-animation:raise2 49s ease-in-out infinite; /* Firefox */
}
			
@-webkit-keyframes raise {
                0% {bottom:200px;opacity:0;}              
				50% {top:380px;opacity:1;} 
				75%{opacity:1;}
				100% {bottom:200px; opacity:0;}                
            }
			
@-moz-keyframes raise { /*Firefox */
				0% {bottom:200px;opacity:0;}              
				50% {top:380px;opacity:1;} 
				75%{opacity:1;}
				100% {bottom:200px; opacity:0;} 
			}
			
@-webkit-keyframes raise2 {
                0% {bottom:220px;opacity:0;}    
				30%{opacity:1;}           
				50% {top:350px;} 
				75%{opacity:1;}
				90%{opacity:0;}
				100% {bottom:220px; opacity:0;}                
            }
			
@-moz-keyframes raise2 { /*Firefox */
				0% {bottom:220px;opacity:0;}    
				30%{opacity:1;}           
				50% {top:350px;} 
				75%{opacity:1;}
				90%{opacity:0;}
				100% {bottom:220px; opacity:0;} 
			}

/* ------------- */

.clouds1{
	position:absolute;
	top:240px;
	left:-22px;
	-webkit-animation: clouds1 14s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation:clouds1 14s ease-in-out infinite; /* Firefox */
	
}

.clouds2{
	position:absolute;
	top:250px;
	left:200px;
	-webkit-animation: clouds2 7s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation:clouds2 7s ease-in-out infinite; /* Firefox */
}

.clouds3{
	position:absolute;
	top:100px;
	left:300px;
	-webkit-animation: clouds3 21s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation:clouds3 21s ease-in-out infinite; /* Firefox */
}

.brick1{
	position:absolute;
	top:300px;
	left:400px;
	-webkit-animation: brick1 7s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation:brick1 7s ease-in-out infinite; /* Firefox */
}

.brick2{
	position:absolute;
	bottom:130px;
	left:250px;
	-webkit-animation: brick2 10s ease-in-out infinite;
	-moz-animation:brick2 10s ease-in-out infinite; /* Firefox */
}


.clouds4{
	position:absolute;
	left:-40px;
	-webkit-animation: clouds4 12s ease-in-out infinite;
	-moz-animation: clouds4 12s ease-in-out infinite;
}

.clouds5{
	position:absolute;
	left:200px;
	bottom:50px;
	-webkit-animation: clouds4 12s ease-in-out infinite;
	-moz-animation: clouds4 12s ease-in-out infinite;
}
			
@-webkit-keyframes clouds4 {
                0% {bottom:0px;}
				50% {bottom:20px;}
				100% {bottom:0px;}                
            }
			
@-moz-keyframes clouds4{
				0% {bottom:0px;}
				50% {bottom:20px;}
				100% {bottom:0px;}
}


@-webkit-keyframes clouds1 {
                0% {top:240px;} 
				50% {top:280px;}            
				100% {top:240px;}                 
            }
			
@-moz-keyframes clouds1 /* Firefox */
{
                0% {top:240px;} 
				50% {top:280px;}            
				100% {top:240px;}                 
            }
			
@-webkit-keyframes clouds2 {
                0% {top:250px;} 
				50% {top:270px;}            
				100% {top:250px;}                 
            }
			
@-moz-keyframes clouds2 /* Firefox */{
				0% {top:250px;} 
				50% {top:270px;}            
				100% {top:250px;}
			}

@-webkit-keyframes clouds3 {
      			 0% {top:250px;} 
				50% {top:200px;}            
				100% {top:250px;}                 
            }
			
@-moz-keyframes clouds3 /* Firefox */{
				0% {top:250px;} 
				50% {top:200px;}            
				100% {top:250px;}  
			}
			
@-webkit-keyframes brick1 {
                0% {top:300px;} 
				50% {top:310px;}            
				100% {top:300px;}                 
            }

@-moz-keyframes brick1 /*Firefox */{
				0% {top:300px;} 
				50% {top:310px;}            
				100% {top:300px;}                 
            }
			
		
@-webkit-keyframes brick2 {
                0% {bottom:130px;} 
				50% {bottom:160px;}            
				100% {bottom:130px;}                   
            }

@-moz-keyframes brick2 /*Firefox */{
				0% {bottom:130px;} 
				50% {bottom:160px;}            
				100% {bottom:130px;}                 
            }

.faehnchen-menu{
	position:absolute;
	top:120px;
	left:105px;
	-webkit-animation: faehnchen-menu 3.6s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: faehnchen-menu 3.6 ease-in-out infinite;
	z-index:15;
}

.faehnchen-new{
	position:absolute;
	top:140px;
	left:265px;
	-webkit-animation: faehnchen-new 3.6s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: faehnchen-new 3.6 ease-in-out infinite;
	z-index:13;
}

@-webkit-keyframes faehnchen-new {
                0% {top:150px;} 
				50% {top:140px;}            
				100% {top:150px;}                 
            }
			
@-moz-keyframes faehnchen-new /*Firefox */{
                0% {top:150px;} 
				50% {top:140px;}            
				100% {top:150px;}                 
            }				

@-webkit-keyframes faehnchen-menu {
                0% {top:125px;} 
				50% {top:115px;}            
				100% {top:125px;}                 
            }
			
@-moz-keyframes faehnchen-menue { /*Firefox*/
                0% {top:125px;} 
				50% {top:115px;}            
				100% {top:125px;}                 
            }

.mine-time{
	position:absolute;
	z-index:10;
	margin-top:-128px;
	margin-left:-22px;
}

.time-mine-brick{
	position:absolute;
	left:215px; bottom:115px;
	-webkit-animation: watch-hand 60s linear infinite;
	-moz-animation: watch-hand 60s linear infinite;
	z-index:10;
}

@-webkit-keyframes watch-hand {
                0% {bottom:245px;left:162px;}
				12.5%{left:215px; bottom:220px;}
				25% {bottom:161px;left:230.5px;}
				37.5%{left:215px; bottom:128px;}
				50% {bottom:105px;left:162px;}
				62.5%{left:105px; bottom:128px;}
				75% {bottom:161px;left:90.5px;}
				87.5%{left:110px; bottom:220px;}          
				100% {bottom:245px;left:162px;}              
            }
			
@-moz-keyframes watch-hand { /*Firefox*/
                0% {bottom:245px;left:162px;}
				12.5%{left:215px; bottom:220px;}
				25% {bottom:161px;left:230.5px;}
				37.5%{left:215px; bottom:128px;}
				50% {bottom:105px;left:162px;}
				62.5%{left:105px; bottom:128px;}
				75% {bottom:161px;left:90.5px;}
				87.5%{left:110px; bottom:220px;}          
				100% {bottom:245px;left:162px;}                
            }

/* --------------------- */

body {
	margin : 0;
	font-family: 'OSPDIN',sans-serif;
	text-transform:uppercase;
	letter-spacing:0.035em;
	font-size : 12pt;
	line-height : 1.3em;
	color : #555;
	font-style:normal;
	font-weight:normal;
	overflow-y:scroll;
}

div.newButton div.blobs{
	position:absolute;
	top:50px; left:190px;
}

.dialog{
	top:auto;
	left:auto;
}

.useFont {
	font-family: 'OSPDIN', sans-serif;
}

a {
	color : #8d8d8d;
	text-decoration:none;
	-webkit-transition: all .2s 0s ease-in-out;
	-moz-transition: all .2s 0s ease-in-out;
	transition: all .2s 0s ease-in-out;
}

a:visited {
	color : #8d8d8d;
	text-decoration:none;
}

a:hover {
	color : #89c8c0;
}

.element {
	margin : 4px;
	padding : 4px 8px;
}

.button {
	margin : 4px;
	padding : 4px 8px;
	border:solid 1px #fff;
	cursor : pointer;
	color : #555;

	text-align : center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.disabled {
	border-color : #CCC;
	color : #CCC;
}

.disabled:hover {
	background-color : transparent;
}

.label {
	margin : 20px 2px;
	padding : 4px;
}

.heading {
	font-size: 22pt;
}

.highlight {
	color : #E3405E;
}

.active {
	color:#e3405f;
	background-color:#cce2dd;
	-webkit-transition: all .2s 0s ease-in-out;
	-moz-transition: all .2s 0s ease-in-out;
	transition: all .2s 0s ease-in-out;
}

.active.back{background-color:#c2ddd8;}

#menu .active, #menu:hover{
	
}

.clear {
	clear : both;
}

.left {
	float : left;
}

.right {
	float : right;
}

.centered {
	position: fixed;

	top: 50%;
	left: 50%;
}

.bold {
	font-weight: bold;
}

#overlay {
	position : fixed;

	top : 0px;
	left : 0px;

	width : 100%;
	height : 100%;

	background-color : #e3eeed;
	opacity : 0.7;

	z-index : 100;
}

#hud {
	position : absolute;
	top : 140px;
	left : 100px;
	z-index : 11;
	border-radius:10px;
	padding:10px;
}

#menu {
	padding: 8px;
	font-size:24px;
}

.settings{
	font-size:36px;
}

.page {
	padding : 0 8px;
	background-color:#ddece8;
	margin-top:150px;
	z-index:140;
	position:absolute;
}

.page > * {
	margin-top : 12px;
	margin-bottom : 12px
}

#winner, #loser, 
#newButton, #menuButton,
#mineDisplay, #timeDisplay,
#shareButton, #share,
#feedbackButton, #feedback,
#error, #welcome, #overlay,
#menu, .page, #clearPrompt,
#levelPanel, #apply,
#newBest {
	display: none;
}

#share, #feedback{
	position:fixed;
	left:50px;
	top:420px;
	border:none;
}

#externals{
	position:absolute;
	left:300px;
	top:-150px;
}

#shareButton{
	border:none;
	margin-top:20px;
}

#shareButton:hover{
	border:none;
	margin-top:120px;
}

#feedbackButton{
	border:none;
	margin-top:0px;
}

#feedbackButton:hover{
	border:none;
	margin-top:120px;
}

#winner, #loser, #welcome, #levelPanel {
	z-index : 200;
}

#winner, #loser {
	padding : 8px;
}

#winner {
	width : 300px;
	margin-left: -150px;
	margin-top: -340px;
	padding-top:200px;
	background-color:#cbe2de;
}

#winner .element {
	color:#FFF;
	text-align : center;
	font-size:36px;
	border-top:dotted 3px;
	border-bottom:dotted 3px;
	padding:10px 0 10px 0;
	margin: 10px 0 10px 0;
}

#winner .button:hover{
	background-color:#e2f6f2;
}

.times {
	padding : 10px 0;
	text-align:center;
}

#time{margin-top:40px;}

#secret {
	font-size : 12pt;
	font-family : 'Helvetica', 'Arial', sans-serif;
	border : 1px solid black;
	padding : 8px;
	background-color : #FFFFFF;
}

#loser {
	width : 350px;
	background-color:#F95265;

	margin-left: -110px;
	margin-top: -100px;
}

#loser .button{
	color:#fff;
	border:1px solid #fff;
}

#loser .button:hover{
	background-color:#f96d7d;
}

.button:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all .2s 0s ease-in-out;
	-moz-transition: all .2s 0s ease-in-out;
	transition: all .2s 0s ease-in-out;
}

#loser .element {
	color:#fff;
	font-size:36px;
	border-top:dotted 3px;
	border-bottom:dotted 3px;
	padding:10px 0 10px 0;
	letter-spacing:0.05em;
	font-weight:normal;
	font-style:normal;
	text-align : center;
}

#stats span {
	margin-left : 10px;
}

table {
	border-spacing : 0;
	margin : 4px;
}

td {
	padding : 4px 8px;

	text-align : center;
	font-weight : normal;
}



#settings td:first-child, 
#custom td:first-child {
	text-align : right;
}

#controls tr:first-child td:first-child {
	color : #8d8d8d;
}

#clearPrompt > * {
	margin-top : 0;
	margin-bottom : 0;
}

#externals .button {
	font-size : 14pt;
	padding : 1px 4px;
}

#share textarea {
	width : 300px;
	height : 50px;
	margin : 4px;
	font-size : 12pt;
	font-family : "Questrial", sans-serif;
}

#timeDisplay {
	position : fixed;
	bottom : 70px;
	left : 125px;
}

#mineDisplay {
	text-align:center;
	background-color:none;
}

#welcome {
	width : 720px;

	margin-left : -360px;
	margin-top : -350px;
}

#intro {
	width : 408px;
	padding : 20px;
	background-color:#cae2de;
	position:absolute;
	z-index:140px;
}

#playClassicButton, #playSweepButton {
	float : none;
	margin : 16px auto;

	-webkit-box-shadow: 0 0 15px rgba(183, 211, 206, 1);
	-moz-box-shadow: 0 0 15px rgba(183, 211, 206, 1);
	box-shadow: 0 0 15px rgba(183, 211, 206, 1);
	
	font-size:18px;
	color:#f95b6d;
}

#playClassicButton:hover, #playSweepButton:hover {

	-webkit-box-shadow: inset 0 0 10px rgba(183, 211, 206, 1);
	-moz-box-shadow: inset 0 0 10px rgba(183, 211, 206, 1);
	box-shadow: inset 0 0 10px rgba(183, 211, 206, 1);
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

#playClassicButton {
	padding : 12px 24px;
	width : 170px;
	margin-bottom : 24px;
}

#playSweepButton {
	padding : 12px 24px;
	width : 145px;
}

.title {
	font-size : 32pt;
	padding : 0;
	text-align : center;
}

.subtitle {
	font-size : 14pt;
	text-align : center;
}

#antiOverlap {
	height : 50px;
}

#levelPanel {
	margin-left: -200px;
	margin-top: -180px;
	padding: 16px;
	background-color:#CAE2DE;
}

.customButtons div {
	width: 25px;
	margin: 0 auto;

	padding: 2px 5px 0;
}

.up div {
	margin-top: 10px;
}

.down div {
	margin-bottom: 20px;
}

#welcomeOption {
	font-size : 12pt;
	margin-top : 36px !important;
}

#menuButton{
	cursor:pointer;
	height:153px; width:133px;
	position:absolute;
	top:40px;
	border:none;
	-webkit-transform: scale(1);
	-moz-transform: scale(1.05);
	-o-transform: scale(1);
	transform: scale(1);
}

#menuButton .active{
	background-color:none;
}

#settingsButton, #instructionsButton, #statsButton, #rulesButton, #controlsButton, #aboutButton{
	border:none;
}

#settingsButton.active, #instructionsButton.active, #statsButton.active, #rulesButton.active, #controlsButton.active, #aboutButton.active, #menuButton.active{
	background-color:none;background:none;}
	
.easy, .medium, .hard, .custom{
	height:110px;
	width:70px;
	border:none;
}

.easy{padding-top:25px;}
.medium{padding-top:15px;}

tr{width:800px;}

/*----------- */

.pokal{
	margin-left:30px;
}

.win-bricks-1{
	position:absolute;
	top:-50px;
	left: 50%;
	-webkit-animation: win-bricks-1 3s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-1 3s ease-in-out infinite;
}

.win-bricks-2{
	position:absolute;
	top:30px;
	left: 45%;
	-webkit-animation: win-bricks-2 6s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-2 6s ease-in-out infinite;
}

.win-bricks-3{
	position:absolute;
	top:160px;
	left: 67%;
	-webkit-animation: win-bricks-3 4s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-3 4s ease-in-out infinite;
}

.win-bricks-4{
	position:absolute;
	top:150px;
	left: 25%;
	-webkit-animation: win-bricks-4 6s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-4 6s ease-in-out infinite;
}

.win-bricks-5{
	position:absolute;
	top:10px;
	left: 25%;
	-webkit-animation: win-bricks-5 4s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-5 4s ease-in-out infinite;
}

.win-bricks-6{
	position:absolute;
	top:40px;
	left: 47%;
	-webkit-animation: win-bricks-6 5s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-6 5s ease-in-out infinite;}

.win-bricks-7{
	position:absolute;
	top:100px;
	left: 62%;
	-webkit-animation: win-bricks-7 6s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-7 6s ease-in-out infinite;
}

.win-bricks-8{
	position:absolute;
	top:120px;
	left: 35%;
	-webkit-animation: win-bricks-8 7s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: win-bricks-8 7s ease-in-out infinite;
}

@-webkit-keyframes win-bricks-1 {
                0% {top:50px;-webkit-transform:rotate(0deg);} 
				50% {top:150px;}            
				100% {top:50px;-webkit-transform:rotate(360deg);}                 
            }
			
@-moz-keyframes win-bricks-1 { /* Firefox */
			  	0% {top:50px;-moz-transform:rotate(0deg);} 
				50% {top:150px;}            
				100% {top:50px;-moz-transform:rotate(360deg);}  	
			}

@-webkit-keyframes win-bricks-2 {
                0% {top:30px;-webkit-transform:rotate(0deg);left: 45%;} 
				50% {top:200px;left: 35%;}            
				100% {top:30px;-webkit-transform:rotate(360deg);left: 45%;}                 
            }
			
@-moz-keyframes win-bricks-2 { /* Firefox */
				 0% {top:30px;-moz-transform:rotate(0deg);left: 45%;} 
				50% {top:200px;left: 35%;}            
				100% {top:30px;-moz-transform:rotate(360deg);left: 45%;}                 
            }
			
@-webkit-keyframes win-bricks-3 {
                0% {top:50px;-webkit-transform:rotate(360deg);} 
				50% {top:150px;}            
				100% {top:50px;-webkit-transform:rotate(0deg);}
}

@-moz-keyframes win-bricks-3 { /* Firefox */
				0% {top:50px;-moz-transform:rotate(360deg);} 
				50% {top:150px;}            
				100% {top:50px;-moz-transform:rotate(0deg);}
}

@-webkit-keyframes win-bricks-4 {
                0% {top:180px;-webkit-transform:rotate(0deg);} 
				50% {top:20px;-webkit-transform:rotate(360deg);}            
				100% {top:180px;-webkit-transform:rotate(0deg);}
}

@-moz-keyframes win-bricks-4 { /* Firefox */
                0% {top:180px;-moz-transform:rotate(0deg);} 
				50% {top:20px;-moz-transform:rotate(360deg);}            
				100% {top:180px;-moz-transform:rotate(0deg);}
}

@-webkit-keyframes win-bricks-5 {
                0% {top:100px;-webkit-transform:rotate(0deg);} 
				50% {top:150px;}            
				100% {top:100px;-webkit-transform:rotate(360deg);}
}

@-moz-keyframes win-bricks-5 { /* Firefox */
                0% {top:100px;-moz-transform:rotate(0deg);} 
				50% {top:150px;}            
				100% {top:100px;-moz-transform:rotate(360deg);}
}

@-webkit-keyframes win-bricks-6 {
                0% {top:40px;-webkit-transform:rotate(0deg);} 
				50% {top:190px;}            
				100% {top:40px;-webkit-transform:rotate(360deg);}
}

@-moz-keyframes win-bricks-6 { /* Firefox */
                0% {top:40px;-moz-transform:rotate(0deg);} 
				50% {top:190px;}            
				100% {top:40px;-moz-transform:rotate(360deg);}
}

@-webkit-keyframes win-bricks-7 {
                0% {top:100px;-webkit-transform:rotate(0deg);} 
				50% {top:150px;}            
				100% {top:100px;-webkit-transform:rotate(360deg);}
}

@-moz-keyframes win-bricks-7 { /* Firefox */
				0% {top:100px;-moz-transform:rotate(0deg);} 
				50% {top:150px;}            
				100% {top:100px;-moz-transform:rotate(360deg);}
}

@-webkit-keyframes win-bricks-8 {
                0% {top:20px;-webkit-transform:rotate(0deg);} 
				50% {top:120px;}            
				100% {top:20px;-webkit-transform:rotate(360deg);}
}

@-moz-keyframes win-bricks-8 { /* Firefox */
				 0% {top:20px;-moz-transform:rotate(0deg);} 
				50% {top:120px;}            
				100% {top:20px;-moz-transform:rotate(360deg);}
}

/* Mine-Lose */

.mine-lose{
	margin-left:35%;
	-webkit-animation: mine-lose 1.5s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: mine-lose 1.5s ease-in-out infinite;
}

@-webkit-keyframes mine-lose {
	0% {-webkit-transform:scale(1);}
	50% {-webkit-transform:scale(1.3);}
	100% {-webkit-transform:scale(1);}
}

@-moz-keyframes mine-lose { /* Firefox */
	0% {-moz-transform:scale(1);}
	50% {-moz-transform:scale(1.3);}
	100% {-moz-transform:scale(1);}
}

.settingsmenu{
	position:relative;
	margin-top:100px;
	border:none;
	background-color:#DDECE8;
}

.settingsmenu:hover{
	background-color:#DDECE8;
}

.chooselevel{
	border-top:1px solid;
	border-bottom:1px solid;
	margin:20px 100px 20px 100px;
	text-align:center;
}

.zoom{
	border-top:1px solid #f36e6f;
	border-bottom:1px solid #f36e6f;
	margin:40px 0 40px 0;
	padding-left:70px;
}

.help{font-size:13px;line-height:1em;}

.statsue{font-size:24px;}

img.stats{margin-left:10px;}

div.settingsmenu div.button{
	boder:none;
}

/* for smaler Browser size */

@media only screen and (max-width: 1290px) {
	#winner{margin-top:-380px;}
}

@media only screen and (max-width: 1024px) {
	.pokal{display:none;}
	#winner{margin-top:-250px;}
	
	.none{display:none;}
	
	#hud{left:10px;}
	
	.faehnchen-menu{left:15px;}
	.faehnchen-new{left:175px;}
	
	h1{left:-10px;}
	
	#timeDisplay{left:25px;}
	
	@-webkit-keyframes watch-hand {
                0% {bottom:245px;left:62px;}
				12.5%{left:115px; bottom:220px;}
				25% {bottom:161px;left:130.5px;}
				37.5%{left:115px; bottom:128px;}
				50% {bottom:105px;left:62px;}
				62.5%{left:5px; bottom:128px;}
				75% {bottom:161px;left:-9.5px;}
				87.5%{left:10px; bottom:220px;}          
				100% {bottom:245px;left:62px;}              
            }
			
@-moz-keyframes watch-hand { /*Firefox*/
                0% {bottom:245px;left:62px;}
				12.5%{left:115px; bottom:220px;}
				25% {bottom:161px;left:130.5px;}
				37.5%{left:115px; bottom:128px;}
				50% {bottom:105px;left:62px;}
				62.5%{left:5px; bottom:128px;}
				75% {bottom:161px;left:-9.5px;}
				87.5%{left:10px; bottom:220px;}          
				100% {bottom:245px;left:62px;}                
            }
}

