/* DO NOT CHANGE */

#container {
	width : 100%;
	height : 100%;
	overflow : hidden;
	position : absolute;
	top : 0px;
	left : 0px;
}

/* ------------- */

body {
	font-size : 16pt;
	color : #777;
}

.hud {
	position : absolute;
}

a {
	color : #6A8F5F;
}

a:visited {
	color : #6A8F5F;
}

a:hover {
	color : #333;
}

.element {
	margin : 4px;
	padding : 4px 8px;

	float : left;

	background-color : #EEE;
	border : 1px solid #777;
}

.button {
	cursor : pointer;
	background-color : #FFF !important;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.label {
	margin : 4px 2px;
	padding : 4px;

	float : left;
	clear : both;
}

.button:hover {
	background-color : #BACF9F !important;
}

.active {
	background-color : #CADFB6 !important;
}

.clear {
	clear : both;
}

#menu, #settings, #instructions, #about, #stats {
	display: none;
	padding : 4px;
}

#menu {
	height: 42px;
}

#stats {
	height : 260px;
}

#about, #instructions {
	height: 42px;
}

#settings {
	height: 210px;
}

#winner, #loser, #newButton, #menuButton, #restartButton, #error {
	display: none;
}

#winner {
	background-color : #CADFB6;
}

#loser {
	background-color : #ED9F9C;
}

#apply {
	float : none;
	clear : both;

	width : 46px;
	margin : 4px auto;
}

table {
	border-spacing : 0;
	margin : 4px;
}

td {
	padding : 4px 8px;

	text-align : center;
	font-weight : normal;

/*	border-left : 1px solid #777;
	border-top : 1px solid #777;*/
}

tr:first-child td {
	border-bottom : 1px solid #777;
}

td:first-child {
	border-right : 1px solid #777;
}